.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  /* Ensures it covers the entire screen width */
    display: flex;
    align-items: center;  /* Aligns items vertically */
    justify-content: space-between; /* Ensures proper spacing */
    padding: 20px 40px;  /* Adjust padding as needed */
    background-color: black;
    box-sizing: border-box; /* Ensures padding doesn't shrink width */
    z-index: 1000; /* Ensures it stays on top of other content */
    height: 120px;
}

.name-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.name-logo-link:hover {
    transform: scale(1.2);
}

.name-logo-icon {
    height: 64px;
    width: 64px;
}

.header-name {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: darkorchid;
    /*text-transform: uppercase;*/
    font-family: cursive;
    text-decoration: none;

}

nav{

}

.nav-links {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    width: 100%;
}

.link {
    display: flex;
    font-family: Monaco, "Lucida Console", monospace;
    text-decoration: none;
    color: coral;
    font-weight: bold;
    font-size: 16px;
}

.link:hover {
    color: crimson;
}