.skills-container {
    text-align: center;
    padding: 50px 20px;
}

.skills-heading{
    font-size: 70px;
    margin-bottom: 30px;
    color: orange;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
    gap: 30px;
    justify-items: center; /* Center the icons horizontally */
    align-items: center; /* Center vertically */
    padding: 20px;
}

.java-icon ,
.python-icon {
    #border: 1px solid;
    #border-radius: 25%;
    #background-color: gray;
    #padding: 108px 278px;
}

.icons-container.* {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}